.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.blog-heading {
  margin-bottom: 10px !important;
  text-align: center;
}

.blog-loop-img {
  max-height: 200px;
  background-size: cover;
  object-fit: contain !important;
}

.blog-block {
  padding-bottom: 25px!important;
  padding-top: 50px!important;
}

[data-bs-theme=dark] .card-link .blog-link {
  --bs-link-color: #ffffff !important;
  --bs-link-color-rgb: 255,255,255 !important;
  --bs-link-hover-color: var(--bs-secondary) !important;
  --bs-link-hover-color-rgb: var(--bs-secondary-rgb) !important;
  color: #ffffff !important;
}

[data-bs-theme=dark] .card-link .blog-link:hover {
  --bs-link-color: #ffffff !important;
  --bs-link-color-rgb: 255,255,255 !important;
  --bs-link-hover-color: var(--bs-secondary) !important;
  --bs-link-hover-color-rgb: var(--bs-secondary-rgb) !important;
  color: var(--bs-secondary) !important;
}

[data-bs-theme=light] .card-link .blog-link {
  --bs-link-color: var(--bs-primary) !important;
  --bs-link-color-rgb: var(--bs-primary-rgb) !important;
  --bs-link-hover-color: var(--bs-secondary) !important;
  --bs-link-hover-color-rgb: var(--bs-secondary-rgb) !important;
  color: var(--bs-link-color);
}

[data-bs-theme=light] .card-link .blog-link:hover {
  --bs-link-color: var(--bs-primary) !important;
  --bs-link-color-rgb: var(--bs-primary-rgb) !important;
  --bs-link-hover-color: var(--bs-secondary) !important;
  --bs-link-hover-color-rgb: var(--bs-secondary-rgb) !important;
  color: var(--bs-link-hover-color);
}

[data-bs-theme=light] .footer-logo-colour {
  display: block;
}

[data-bs-theme=dark] .footer-logo-colour {
  display: none;
}

[data-bs-theme=dark] #light-mode {
  display: none!important;
}

[data-bs-theme=auto] #light-mode {
  display: none!important;
}

[data-bs-theme=light] #dark-mode {
  display: none!important;
}

[data-bs-theme=light] #dark-mode {
  display: none!important;
}

[data-bs-theme=light] #auto-mode {
  display: none!important;
}

[data-bs-theme=dark] #auto-mode {
  display: none!important;
}

[data-bs-theme=auto] #light-mode {
  display: none!important;
}

[data-bs-theme=auto] #dark-mode {
  display: none!important;
}

[data-bs-theme=light] .gradient {
  background: linear-gradient(120deg, rgb(var(--bs-primary-rgb)), rgb(var(--bs-secondary-rgb)))!important;
  color: #fff;
  transition: background 1000ms linear;
}

[data-bs-theme=auto] .gradient {
  background: linear-gradient(120deg, rgb(var(--bs-primary-rgb)), rgb(var(--bs-secondary-rgb)))!important;
  color: #fff;
  transition: background 1000ms linear;
}

/* [data-bs-theme=light] .gradient .mode-select {
  pointer-events: auto;
}

[data-bs-theme=light] .gradient:hover {
  animation: reverse-colour-change;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
} */

/* [data-bs-theme=light] .gradient .mode-select:active { 
  animation: reverse-colour-change;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
} */

[data-bs-theme=dark] .gradient {
  background: linear-gradient(120deg, rgb(var(--bs-secondary-rgb)), rgb(var(--bs-primary-rgb)))!important;
  color: #fff;
  transition: background 1000ms linear;
}

/* [data-bs-theme=dark] .gradient:hover {
  animation: colour-change;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
} */

[data-bs-theme=dark] .coloured-underline {
  /*text-decoration-line: underline;*/
  /*text-decoration-thickness: 2.5px;*/
  /*text-decoration-color: linear-gradient(--bs-secondary, var(--bs-primary)), linear-gradient(rgb(var(--bs-secondary-rgb)),rgb(var(--bs-secondary-rgb))), linear-gradient(var(--bs-primary), var(--bs-primary));*/
  /*transition: background-size 2s linear, background-position 2s linear;*/
  text-decoration: none;
  background-image: linear-gradient(#070d21, #070d21), linear-gradient(rgb(var(--bs-secondary-rgb)),rgb(var(--bs-secondary-rgb))), linear-gradient(rgb(var(--bs-primary-rgb)),rgb(var(--bs-primary-rgb)));
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear, background-position 2s linear;
}

[data-bs-theme=light] .coloured-underline {
  /*text-decoration-line: underline;*/
  /*text-decoration-thickness: 2.5px;*/
  /*text-decoration-color: linear-gradient(--bs-secondary, var(--bs-primary)), linear-gradient(rgb(var(--bs-secondary-rgb)),rgb(var(--bs-secondary-rgb))), linear-gradient(var(--bs-primary), var(--bs-primary));*/
  /*transition: background-size 2s linear, background-position 2s linear;*/
  text-decoration: none;
  background-image: linear-gradient(#fff, #fff), linear-gradient(rgb(var(--bs-secondary-rgb)),rgb(var(--bs-secondary-rgb))), linear-gradient(rgb(var(--bs-primary-rgb)),rgb(var(--bs-primary-rgb)));
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear, background-position 2s linear;
}

.coloured-underline:hover {
  /*text-decoration-thickness: 5px;*/
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

[data-bs-theme="light"] .carousel-fade {
  --bs-carousel-indicator-active-bg: #000;
  --bs-carousel-caption-color: #000;
  --bs-carousel-control-icon-filter: invert(1) grayscale(100);
}

[data-bs-theme="dark"] .carousel-fade {
  --bs-carousel-indicator-active-bg: #fff;
  --bs-carousel-caption-color: #fff;
  --bs-carousel-control-icon-filter: invert(0) grayscale(100);
}

.rainbow-border {
  max-height: 15em;
  object-fit: cover;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.slider-image-fit {
  object-fit: contain !important;
}

.center-everything {
  margin-right: auto!important;
  margin-left: auto!important;
}

.portfolio-block.block-intro {
  padding-top: 5em;
  padding-bottom: 2em;
}

.portfolio-block.project {
  padding-top: 0px;
  padding-bottom: 3em;
}

.portfolio-block.project .more-projects {
  margin-top: 2em;
  border-top: 1px solid var(--bs-dark-subtle);
  padding-top: 1em;
}

.portfolio-block.block-intro p {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 30px;
  max-width: 95%;
}

.project-carousel {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.portfolio-block .heading h2, .portfolio-block .heading .h2 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.2;
  color: var(--bs-heading-color);
  font-size: 2.5rem;
}

.swiper-control {
  color: var(--bs-secondary);
}

:root {
  --swiper-theme-color: var(--bs-secondary);
}

.dropdown-menu .dropdown-item:active {
  --bs-dropdown-link-active-bg: var(--bs-secondary)!important;
}

.portfolio-navbar.gradient {
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  margin-right: 0;
  padding: 0;
}

.portfolio-navbar.gradient img {
  width: 100px;
  height: 100px;
}

.heading.blog-heading.acknowledgements {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/blog/dissertation-acknowledgements.jpg") center / cover;
  color: white;
}

.footer-copyright {
  margin-left: 2em;
}

.loop-padding {
  padding-top: 25px;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.accreditations-title {
  font-weight: bold;
}

.accreditations-navigation {
  margin-top: 0.5em;
}

.heading.page-heading {
  margin-bottom: 25px;
}

.loop-item {
  padding-bottom: 15px;
}

.card-resize {
  min-height: 250px;
}

.dates {
  float: right;
}

.tags {
  float: left;
}

.excerpts {
  clear: both;
}

.heading.blog-heading.pbm-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/peter_bell%20music/peter_bell_music.webp") center / cover;
  color: white;
}

.heading.blog-heading.keresley-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/keresley_church/keresleychurch.webp") center / cover;
  color: white;
}

.heading.blog-heading.showreel {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/photo-1489599849927-2ee91cede3ba.jpg") center / cover;
  color: white;
}

.heading.blog-heading.frizzle-tv {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/frizzle/frizzlepreview.webp") center / cover;
  color: white;
}

.heading.blog-heading.bcumha-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/bcumha/bcumhapreview.webp") center / cover;
  color: white;
}

.heading.blog-heading.bcudiscover-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/bcu_dis.cover/bcudiscoverpreview.png") center / cover;
  color: white;
}

.heading.blog-heading.bcucu-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/bcucu/bcucupreview.webp") center / cover;
  color: white;
}

.heading.blog-heading.taskmaster-ios {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/taskmaster_for%20ios/taskmasteriospreview.png") center / cover;
  color: white;
}

.heading.blog-heading.naturefindings-windows {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/nature_findings/naturefindingspreview.png") center / cover;
  color: white;
}

.heading.blog-heading.mymind-ios {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/my_mind/my_mind_logo.png") center / cover;
  color: white;
}

.heading.blog-heading.csbox-web {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/cs_box/csbox_logo.png") center / cover;
  color: white;
}

.heading.blog-heading.bitbox-various {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/bit_box/bit_box_logo.png") center / cover;
  color: white;
}

.heading.blog-heading.identity-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/the_computers_identity/identitypreview.png") center / cover;
  color: white;
}

.heading.blog-heading.taskmaster-web {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/task_master/taskmasterpreview.jpg") center / cover;
  color: white;
}

.heading.blog-heading.sortai-windows {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/sort.ai/sort.ai_logo.png") center / cover;
  color: white;
}

.heading.blog-heading.societyplus-web {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/society+/societypluspreview.png") center / cover;
  color: white;
}

.heading.blog-heading.iamaware-film {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/iamaware.webp") center / cover;
  color: white;
}

.heading.blog-heading.exambufforbluff-windows {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/exam_buff%20or%20exam%20bluff/app_logo.png") center / cover;
  color: white;
}

.heading.blog-heading.citationneeded-web {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/projects/citation_needed/login_screen.png") center / cover;
  color: white;
}

.heading.blog-heading.clutter {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/blog/clearning-the-clutter.webp") center / cover;
  color: white;
}

.heading.blog-heading.edtech {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/blog/edtech-strategies.webp") center / cover;
  color: white;
}

.heading.blog-heading.reset {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/blog/its-been-a-while.webp") center / cover;
  color: white;
}

.heading.blog-heading.milestone {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/blog/milestone.jpg") center / cover;
  color: white;
}

.heading.blog-heading.try-again {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/blog/somethings-not-right.jpg") center / cover;
  color: white;
}

.heading.blog-heading.tes-launch {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("/assets/img/blog/what-started-it-all.webp") center / cover;
  color: white;
}

.button {
  margin-bottom: 80px;
}

.hide-quote {
  display: none;
}

.post-images {
  text-align: center;
  margin-bottom: 16px;
}

.blog-image-container {
  width: 250px;
}

.blog-list {
  margin-bottom: 16px;
}

.blog-button {
  margin: 0PX 0PX 80PX;
}

.project-buttons {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.more-projects-heading {
  margin-bottom: 10px!important;
}

.meta.project-details {
  padding-left: 12px!important;
  padding-right: 12px!important;
}

.portfolio-video {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

.intro-margin {
  margin-top: 25px;
}

.about-intro {
  margin-bottom: 15px;
  margin-top: 25px;
}

.headshot {
  max-width: 500px;
}

.text-margin {
  margin-top: 15px;
}

.cv-group {
  max-width: 75%;
}

.portfolio-block.cv.no-padding {
  padding-bottom: 0px;
  padding-top: 0px;
}

.heading-no-gap {
  margin-bottom: 0px!important;
}

.work-experience.group.wex-div {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.footer-margin {
  margin-bottom: 25px;
}

.contact-form {
  max-width: 85%;
}

.portfolio-block.block-intro.auto-margin {
  margin-top: auto;
}

.screen-content.featured-project {
  background-image: url("/assets/img/projects/cs_box/csbox_homepage.jpeg");
}

